dist: trusty
language: node_js

node_js:
  - "6.10.2"

script:
  - ./node_modules/karma/bin/karma start karma.conf.js

before_script:
  - npm install -g bower
  - npm install
  - bower install

cache:
  directories:
    - node_modules
    - bower_components
